@use 'variables' as v;


h1, h2, h3{
    margin: 0 0 v.$separacion 0;
}

h1{
    font-size: 4rem;
}

h2{
    text-align: center;
    font-size: 3.6rem;
    color: v.$primario;
    text-transform: uppercase;
    span{
        color: v.$secundario;
        display: block;
        font-size: 2rem;
    }
    &::after{
        content: '';
        display: block;
        width: 10rem;
        height: 10rem;
        background-image: url(/build/img/cafe.svg);
        margin: 0 auto;
        background-size: 10rem;
    }
}

.heading-blanco{
    @extend h2;
    color: v.$blanco;
    span{
        color: v.$blanco;
    }
    &::after{
        display: none;
    }
}

h3{
    font-size: 3.2rem;
}